body{
    margin: 0;
    padding: 0;
    overflow: hidden; /* 페이지 스크롤을 막습니다. */
}
.container-xxl{
    /*  위치 기준점을 잡아 줌  */
    position: absolute;
    width: 100%;
    height: 100%;
    /* 타운맵을 가운데 정렬 */
    justify-content: center;
    align-items: center;
}
.town-map{
    background-image: url('../img_zeldarink/pokemon_town_map.png');
    width : 100vw;
    height : 100vh;
    background-size: cover;
    background-repeat: repeat;
    position: relative;
    /*  백그라운드 이동 효과에 적용을 위한 transition 설정  */
    transition: all 100ms linear;
}

#user-character {
    width: 120px;
    height: 130px;
    top: 100vh;
    left: 100vw;
    background-repeat: no-repeat;
    transform : translate(600px, 600px);
}

@keyframes forward-step {
    0%{
        background-image: url("../img_zeldarink/front_stand.png");
    }
    10%{
        background-image: url("../img_zeldarink/front_walk0.png");
    }
    20%{
        background-image: url("../img_zeldarink/front_walk1.png");
    }
    30%{
        background-image: url("../img_zeldarink/front_walk2.png");
    }
    40%{
        background-image: url("../img_zeldarink/front_walk3.png");
    }
    50%{
        background-image: url("../img_zeldarink/front_walk4.png");
    }
    60%{
        background-image: url("../img_zeldarink/front_walk5.png");
    }
    70%{
        background-image: url("../img_zeldarink/front_walk6.png");
    }
    80%{
        background-image: url("../img_zeldarink/front_walk7.png");
    }
    90%{
        background-image: url("../img_zeldarink/front_walk8.png");
    }
    100%{
        background-image: url("../img_zeldarink/front_walk9.png");
    }
}

.walking-forward {
    animation: forward-step 500ms infinite;
    animation-play-state: running;
}
.pause-forward {
    /*animation: forward-step 500ms infinite;*/
    animation-play-state: paused;
    background-image: url("../img_zeldarink/front_stand.png");
}

@keyframes backward-step {
    0%{
        background-image: url("../img_zeldarink/back_stand.png");
    }
    10%{
        background-image: url("../img_zeldarink/back_walk0.png");
    }
    20%{
        background-image: url("../img_zeldarink/back_walk1.png");
    }
    30%{
        background-image: url("../img_zeldarink/back_walk2.png");
    }
    40%{
        background-image: url("../img_zeldarink/back_walk3.png");
    }
    50%{
        background-image: url("../img_zeldarink/back_walk4.png");
    }
    60%{
        background-image: url("../img_zeldarink/back_walk5.png");
    }
    70%{
        background-image: url("../img_zeldarink/back_walk6.png");
    }
    80%{
        background-image: url("../img_zeldarink/back_walk7.png");
    }
    90%{
        background-image: url("../img_zeldarink/back_walk8.png");
    }
    100%{
        background-image: url("../img_zeldarink/back_walk9.png");
    }
}

.walking-backward {
    animation: backward-step 500ms infinite;
    animation-play-state: running;
}
.pause-backward {
    animation-play-state: paused;
    background-image: url("../img_zeldarink/back_stand.png");
}

@keyframes left-step {
    0%{
        background-image: url("../img_zeldarink/left_stand.png");
    }
    10%{
        background-image: url("../img_zeldarink/left_walk0.png");
    }
    20%{
        background-image: url("../img_zeldarink/left_walk1.png");
    }
    30%{
        background-image: url("../img_zeldarink/left_walk2.png");
    }
    40%{
        background-image: url("../img_zeldarink/left_walk3.png");
    }
    50%{
        background-image: url("../img_zeldarink/left_walk4.png");
    }
    60%{
        background-image: url("../img_zeldarink/left_walk5.png");
    }
    70%{
        background-image: url("../img_zeldarink/left_walk6.png");
    }
    80%{
        background-image: url("../img_zeldarink/left_walk7.png");
    }
    90%{
        background-image: url("../img_zeldarink/left_walk8.png");
    }
    100%{
        background-image: url("../img_zeldarink/left_walk9.png");
    }
}

.walking-left {
    animation: left-step 500ms infinite;
    animation-play-state: running;
}
.pause-left {
    animation-play-state: paused;
    background-image: url("../img_zeldarink/left_stand.png");
}

@keyframes right-step {
    0%{
        background-image: url("../img_zeldarink/right_stand.png");
    }
    10%{
        background-image: url("../img_zeldarink/right_walk0.png");
    }
    20%{
        background-image: url("../img_zeldarink/right_walk1.png");
    }
    30%{
        background-image: url("../img_zeldarink/right_walk2.png");
    }
    40%{
        background-image: url("../img_zeldarink/right_walk3.png");
    }
    50%{
        background-image: url("../img_zeldarink/right_walk4.png");
    }
    60%{
        background-image: url("../img_zeldarink/right_walk5.png");
    }
    70%{
        background-image: url("../img_zeldarink/right_walk6.png");
    }
    80%{
        background-image: url("../img_zeldarink/right_walk7.png");
    }
    90%{
        background-image: url("../img_zeldarink/right_walk8.png");
    }
    100%{
        background-image: url("../img_zeldarink/right_walk9.png");
    }
}

.walking-right {
    animation: right-step 500ms infinite;
    animation-play-state: running;
}
.pause-right {
    animation-play-state: paused;
    background-image: url("../img_zeldarink/right_stand.png");
}
